/* purgecss start ignore */
@tailwind base;
@tailwind components;

/* purgecss end ignore */

@tailwind utilities;

html {
  @apply font-body leading-normal;

  font-size: 16px;
}

body {
  @apply bg-white text-black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  @apply font-mono;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans font-bold text-blue-dark mt-4 mb-6;
}

p {
  @apply text-base mt-4 mb-6;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

a:hover,
a:active,
a:focus {
  @apply text-gold;
}
