.root {
  @apply border-gray-200;

  margin: 2rem 0 3rem;
}

.headline {
  font-weight: 600;
  margin: 0.5rem 0 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  @apply text-sm;

  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @nest & > div:last-child {
    flex: 1;
    margin-left: 0.5rem;
  }
}

.avatar {
  @apply bg-gray-200;

  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;

  @nest & img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
  }
}
